# Google Sheets Configuration
GOOGLE_SHEET_ID=your_main_sheet_id_here
GOOGLE_SHEET_ID_VATTU=your_vattu_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=./credentials/service-account.json
PORT=3000

# Zalo Notification Configuration
ZALO_ACTIVE=false
ZALO_TOKEN=your_zalo_token_here
ZALO_API_URL=https://bot-api.zapps.me/bot
